* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  color: #40514e;
  font-family: "Exo", sans-serif;
  text-align: center;
}
hr {
  border: none;
  margin: 100px auto;
  width: 10%;
  border-top: 5px dotted grey;
}
h1 {
  font-family: "Sacramento", sans-serif;
  font-size: 5.625rem;
  color: #66bfbf;
}
.top-container {
  height: 100vh;
  background-color: #dff6f0;
  position: relative;
  padding-top: 5rem;
}
.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profile img{
    margin: 0 auto;
    border: 2px solid black;
    margin-bottom: 2rem;
}
.profile p{
    margin: 0 auto;
    width: 50vw;
}
.mountain-img {
  padding-top: 7.1rem;
}
.profile-pic {
  height: 400px;
  width: 400px;
  object-fit: contain;
  border-radius: 50%;
  justify-content: center;
  
}
.skill-row {
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
}
.skills h3 {
  font-family: "Merienda", Courier, monospace;
  margin-bottom: 3rem;
}
.skills h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    color: rgb(78, 151, 151);
    padding-bottom: 10px;
}

.skill-row img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.skill-row p {
  width: 40vw;
  align-items: center;
}
.second-row {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}
.second-row p {
  width: 40vw;
}
.second-row img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
.get-in-touch h2{
    margin-bottom: 1rem;
}
.social-links{
    padding: 1rem;
    background-color: #276873;
    height: 20vh;
    
}
.social-links a{
    margin: 1.5rem;
    text-decoration: none;
    color: #fff;
}
.copyright{
    margin-top: 1.5rem;
    color: #fff;
}